body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

svg {
  shape-rendering: geometricPrecision;
}

rect {
  stroke: black;
  stroke-width: 2px;
  fill: none;
}

rect.selected {
  stroke: white;
  fill: mediumaquamarine;
  stroke-width: 1px;
}
